/* h1 {
    margin-bottom: -10px;
    padding: 0;
} */

/* label {
    color: #fff;
    margin-top: 5px;

} */

/* p {
    font-size: 16px;
    margin-bottom: 60px;
    padding: 0;
    color: #fff
} */

/* span.line {
    text-decoration: line-through;
    font-style: italic;
    letter-spacing: -2px
} */

div.bgCircle {
    width: 360px;
    /* padding: 10px; */
    background: #fff;
    border-radius: 10px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.circle {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    margin: 10px;
    transition: ease-in-out 140ms;
    cursor: pointer
}

.circle:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 1px 2px rgba(0, 0, 0, 0.23);
    /* margin-top: -2px; */
}

.color1 {
    background: #F9DE56;
}

/* .color1:hover:after {
    content: 'cool!';
    color: #232323;
    font-size: 12px;
    margin-top: 90px
} */

.color2 {
    background: #FECEA8;
}

/* .color2:hover:after {
    content: 'amazing!';
    color: #232323;
    font-size: 12px;
    margin-top: 90px
} */


.color3 {
    background: #E84A5F;
}

/* .color3:hover:after {
    content: 'try it';
    color: #232323;
    font-size: 12px;
    margin-top: 90px
} */

.color4 {
    background: #FF847C;
}

/* .color4:hover:after {
    content: '<3';
    color: #232323;
    font-size: 12px;
    margin-top: 90px
} */

.color5 {
    background: #985bf0;
}

/* .color5:hover:after {
    content: 'great!';
    color: #232323;
    font-size: 12px;
    margin-top: 90px
} */

.color6 {
    background: #F4ECFF;
}

.banner {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.home-main-content {
    width: fit-content;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
}

.create-quiz-event {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    text-align: center;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border-radius: 10%; */

    width: fit-content;
    height: fit-content;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    transition: ease-in-out 140ms;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 1px 2px rgba(0, 0, 0, 0.23);
}

.create-quiz-event:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
}

.available-quizzes {
    margin-top: 20px;
    margin-bottom: 20px;
}

.quizzes-table-title {
    font-family: 'Montserrat', sans-serif;
}

.quizzes-table-container {
    background-color: #fed9ff;
    width: 500px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 10px;
}

.quizzes-table {
    margin: auto;
}

.quiz-row {
    padding: 20px;
    margin: auto;
    background-color: antiquewhite;
}

.quiz-name {
    clear: both;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    text-align: left;
    vertical-align: middle;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 20px; */
}

.quiz-action {
    font-family: 'Montserrat', sans-serif;
    background: #E84A5F;
    text-align: center;
    /* border-radius: 10%; */
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transition: ease-in-out 140ms;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 1px 2px rgba(0, 0, 0, 0.23);
    float: right;
}